# -------------------------
# 依赖版本前缀
# -------------------------
save-prefix=                                      # 外部固定依赖不使用前缀（可选：^、~、""）

# -------------------------
# workspace 配置
# -------------------------
link-workspace-packages=true                      # workspace 内部互相依赖时用符号链接
prefer-workspace-packages=true                    # 优先使用 workspace 内部包而不是 registry

# -------------------------
# peer 依赖
# -------------------------
auto-install-peers=true                           # 自动安装 peer 依赖
strict-peer-dependencies=false                    # 严格检查 peer 依赖

# -------------------------
# registry 配置
# -------------------------
# registry=https://registry.npmjs.org/
registry=https://registry.npmmirror.com/
@xiaoqianshuo:registry=http://qlqs.work:4873/     # 给私有 scope 设置 verdaccio 源

# 如果 verdaccio 需要登录，可以加 authToken
# //qlqs.work:4873//:_authToken=xxxxxx

# -------------------------
# 存储优化
# -------------------------
shamefully-hoist=false                            # 保持 node_modules 结构干净
